<%
let simplifiedAccounts = [];

for (let account of accounts) {
  simplifiedAccounts.push({id: account.id, folder: account.folder, permanentlyDeleteSetting: account.permanentlyDeleteSetting});
}
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google Drive</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="logo.png" id="favicon">
  <script src="/javascript/preload.js"></script>
  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/tether.min.js"></script><!--not sure it's needed -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  <script src="/javascript/frontend.js"></script>
  <script src="/javascript/settings.js"></script>
</head>
<body class="settings">

<script type="text/javascript">
accounts = <%- JSON.stringify(simplifiedAccounts) %>;
</script>

<section>
  <h4><font style="font-family: Arial">Conta do Google</font></h4>
  <%
  if (accounts.length == 0) { %>
    <p><font style="font-family: Arial"><a href="/connect">Conecte</a> uma conta do Google para começar. <a class="btn btn-sm btn-info float-sm-right" href="/connect"><i class="fa fa-arrow-right"></i></a></font></p>
  <% } else { %>

    <% for (let account of accounts) {%>
      <p><font style="font-family: Arial"><%= account.email %></font></p>
    <%
    } %>
    
    <%
  }
  %>
</section>

<hr/>

<section>
  <h4><font style="font-family: Arial">Localização da pasta do Google Drive</font></h4>

  <div>
    <label class="custom-file">
         <font style="font-family: Arial"><span class="custom-file-control folder" id="filePath"><%- (accounts[0]||{folder:""}).folder %></span></font>
    </label>
  </div>
  </br>
</section>

<hr/>
</br>

<section>
    <div class="custom-control custom-switch">

      <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="permanentlyDeleteSetting(accounts[0], this.checked)" <%- (accounts[0]||{}).permanentlyDeleteSetting ? "checked" : ""%>>
      <font style="font-family: Arial"><label class="custom-control-label" for="customSwitch1">Poder excluir pastas e arquivos permanentemente</label></font>
    </div>
</section>

</br>
<hr/>
</br>

<section>
  <div class="row space-between">
 
    <font style="font-family: Arial"><span id="synchronize-status"><%- (accounts[0]||{}).running ? "Conta sincronizada com sucesso! " : ""%></span></font>
    <button class="btn btn-primary" id="synchronize-button" onclick="beginSynchronization(accounts[0])" <%- (accounts[0]||{}).running ? "disabled='disabled'" : ""%>><i class="fa fa-download" id="synchronize-icon"></i> <span id="synchronize-text">Ativar sincronização</span></button>
  </div>
  </br>
</section>


<script>
  <% if (accounts[0] && accounts[0].sync.syncing) {%>
    UIBeginSyncing();
  <% } %>
</script>
</body>
